classpath
bin/
.project
.settings/
logs/
.gradle/
build/
out/
*.iml
*.ipr
*.iws
.DS_Store
work/
.vagrant/
*.flv
*.mp3
*.metadata
*.pyc
.idea/
*.rar
*.db.
*.log
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
