<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName">

	<!-- proxool配置 sqlserver  需要两个jar文件proxool-0.9.1.jar   proxool-cglib.jar
	<bean id="dataSource1" class="org.logicalcobwebs.proxool.ProxoolDataSource" >
		<property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="driverUrl" value="jdbc:sqlserver://127.0.0.1:1433;DatabaseName=hdxt" /> 
		<property name="user" value="sa" />
		<property name="password" value="3401" />
		<property name="alias" value="proxool_sql2005_alias" />
		<property name="prototypeCount" value="3" />
		<property name="minimumConnectionCount" value="5" />
		<property name="maximumConnectionCount" value="600" />
		<property name="houseKeepingTestSql" value="select getDate()" />
		<property name="simultaneousBuildThrottle" value="25"/>
	</bean>-->
	
	<!-- proxool配置 sqlserver  需要两个jar文件proxool-0.9.1.jar   proxool-cglib.jar 
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource" >
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="driverUrl" value="jdbc:mysql://192.168.10.61:3306/permission?useUTF8=true&amp;characterEncoding=utf8"/> 
		<property name="user" value="mmorpg" />
		<property name="password" value="123456" />
		<property name="alias" value="proxool_mysql5.2_alias" />
		<property name="prototypeCount" value="3" />
		<property name="minimumConnectionCount" value="5" />
		<property name="maximumConnectionCount" value="600" />
		<property name="houseKeepingTestSql" value="select 1" />
		<property name="simultaneousBuildThrottle" value="25"/>
	</bean>-->
	<!--   -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://192.168.0.41:3306/test?useUTF8=true&amp;characterEncoding=utf8"/>
        <property name="properties">
            <props>
                <prop key="user">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
        <property name="maxPoolSize" value="6"/>
        <property name="minPoolSize" value="2"/>
        <property name="idleConnectionTestPeriod" value="30"/>
        <property name="acquireIncrement" value="2"/>
        <property name="maxStatements">
	    	<value>50</value>
	   	</property>
        <property name="maxIdleTime">
	    	<value>6000000</value>
	   </property>
    </bean>
	<!-- C3P0连接池的配置，需要两个jar文件c3p0-0.9.2-pre4.jar   mchange-commons-java-0.2.2.jar -->
	<!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/permission?useUTF8=true&amp;characterEncoding=utf8"/>
        <property name="properties">
            <props>
                <prop key="user">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
        <property name="maxPoolSize" value="6"/>
        <property name="minPoolSize" value="2"/>
        <property name="idleConnectionTestPeriod" value="30"/>
        <property name="acquireIncrement" value="2"/>
        <property name="maxStatements">
	    	<value>50</value>
	   	</property>
        <property name="maxIdleTime">
	    	<value>6000000</value>
	   </property>
    </bean> -->


</beans>